<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GPIO Client</title>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>

    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="default.css"/>
</head>
<body ng-app="gpioClient">
<div ng-controller="mainCtrl" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>GPIO Control</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <h4>On</h4>
            <div class="gpio-button" ng-repeat="pin in pins">
                <button class="btn btn-success btn-lg"
                        ng-click="onPinClick(pin,1)">
                        <span ng-if="(''+pin).length==1">0{{pin}}</span>
                        <span ng-if="(''+pin).length>1">{{pin}}</span>
                </button>
            </div>
        </div>
        <div class="col-xs-3">
            <h4>Off</h4>
            <div class="gpio-button" ng-repeat="pin in pins">
                <button class="btn btn-danger btn-lg"
                        ng-click="onPinClick(pin,0)">
                        <span ng-if="(''+pin).length==1">0{{pin}}</span>
                        <span ng-if="(''+pin).length>1">{{pin}}</span>
                </button>
            </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-5">
            <h4>System logs</h4>
            <code>
                <ul class="list-unstyled">
                    <li ng-repeat="log in logs track by $index">{{log}}</li>
                </ul>
            </code>
        </div>
    </div>
</div>
</body>
</html>